body {
  font-family: 'Poppins', sans-serif;
  background-color: #ededed;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

nav {
  width: 100%;
  background-color: #071952;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 80px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #f8f8f8;
  padding-left: 50px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  margin: 0 10px;
  transition: color 0.3s;
  padding-right: 80px;
  cursor: pointer;
  position: relative;
}

.nav-links a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #5a1fb3;
  transition: width 0.3s;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.nav-links a.active::after {
  width: 100%;
}

.nav-links a:hover {
  color: #EBF4F6;
}

#container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 90%;
  max-width: 900px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  overflow-y: auto;
}

#list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

#addNoteDiv {
  background-color: #088395;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

#addNoteDiv:hover {
  background-color: #37B7C3;
}

#addNoteDiv i {
  font-size: 30px;
  color: #ffffff;
}

#notes-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.note-item {
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: auto;
  width: calc(33.33% - 20px);
  box-shadow: 9px 9px 18px #b3b3b3, -9px -9px 18px #ffffff;
  position: relative;
}

.note-item .note-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.note-item .note-body {
  font-size: 14px;
  flex-grow: 1;
  word-wrap: break-word;
  overflow-y: auto;
}

.note-actions {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: flex;
}

.note-actions button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-left: 5px;
}

.favorite-icon,
.pin-icon,
.edit-icon,
.delete-icon {
  font-size: 16px;
  color: #1d1d1d;
}

.favorite-icon.favorited {
  color: red;
}

.pin-icon.pinned {
  color: rgb(255, 0, 0);
}

.edit-icon:hover {
  color: #EBF4F6;
}

.delete-icon:hover {
  color: #ff6347;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  height: auto;
  background-color: #EBF4F6;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.popup input[type="text"] {
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #071952;
  font-size: 14px;
  height: 50px;
}

.popup textarea {
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #071952;
  font-size: 14px;
  height: 150px;
}

.color-options {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.color-options span {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.color-options span.selected {
  transform: scale(1.2);
}

#btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#submitBtn,
#closeBtn {
  width: 120px;
  background-color: #088395;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
}

#submitBtn:hover,
#closeBtn:hover {
  background-color: #37B7C3;
}

#closeBtn {
  background-color: #088395;
  color: #fff;
}

.hidden {
  display: none;
}

.note-color-1 {
  background-color: #ffd700;
}

.note-color-2 {
  background-color: #ff6347;
}

.note-color-3 {
  background-color: #40e0d0;
}

.note-color-4 {
  background-color: #9acd32;
}

.note-color-5 {
  background-color: #1e90ff;
}

#pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pagination button {
  background-color: #088395;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s;
}

#pagination button:hover {
  background-color: #37B7C3     ;
}

@media (max-width: 900px) {
  .note-item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .note-item {
    width: calc(100% - 20px);
  }
}